# Define handling of lineendings
* text=auto eol=lf

# Set lineendings for specific files or filetypes
poetry.lock text eol=lf
*.sh text eol=lf

# Windows files
*.bat text eol=crlf
*.cmd text eol=crlf
*.ps1 text eol=crlf