# Temporary and binary files
*~
*.py[cod]
*.so
*.cfg
!.isort.cfg
!setup.cfg
*.orig
*.log
*.pot
__pycache__/*
.cache/*
.*.swp
*/.ipynb_checkpoints/*
.DS_Store

# Project files
.ropeproject
.project
.pydevproject
.settings
.idea
.vscode
tags

# Package files
*.egg
*.eggs/
.installed.cfg
*.egg-info

# Unittest and coverage
htmlcov/*
.coverage
.coverage.*
.tox
junit*.xml
coverage.xml
.pytest_cache/

# Build and docs folder/files
build/*
dist/*
sdist/*
docs/api/*
docs/_rst/*
docs/_build/*
cover/*
MANIFEST

# Per-project virtualenvs
.venv*/
.conda*/
.python-version

.pypirc
_git/

# Per-project VS Code environments
# Local (scope is this repository some kind of "virtual" extensions and user settings)
# Appear when you (cwd is VS Code project's root) start VS Code as
# $ code --extensions-dir .extensions/ --user-data-dir .user/ --profile profile-$(whoami) .
# Advantage: Do not touch your system's VS Code environment. Same as with pipenv
.extensions/
.user/
