name: Test, Build and Package

on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - '**'

jobs:
  test_build_package:
    runs-on: ubuntu-latest

    steps:
    - name: Install Poetry
      run: |
        pip install pipx
        pipx install poetry
        pipx runpip poetry install poetry-dynamic-versioning

    - name: Checkout code
      uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: Install dependencies
      run: |
        poetry install --with dev

    - name: Install external tools
      run: |
        sudo ./src/hermesbaby/ci/setup.sh

    - name: Run unit tests
      run: |
        poetry run pytest

    - name: Run e2e tests
      run: |
        poetry run tests/e2e/bats/bin/bats --tap --verbose-run -x tests/e2e/

    - name: Build package
      run: |
        poetry build

    - name: Upload Build Artifact
      uses: actions/upload-artifact@v4
      with:
        name: hermesbaby-dist
        path: dist/
        retention-days: ${{ github.ref_name == 'main' && 90 || 7 }}
